html{
    box-sizing: border-box;
}
*, *::before, *:after{
    box-sizing: inherit;
}
body{
    background: #eaeead;
    font-size: 20px;
    text-align: center;
    padding: 40px;
    color: cornsilk;
}

h1{
    
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    
}
.content-wrap{
    width: 300px;
    border-style: dashed;
    background: rgb(31, 59, 82);
    display: inline-block;

}
button{

    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 5px;
}
#increment-btn{
    background: rgb(248, 177, 85);
}
#save-btn{
    background: rgb(248, 177, 85);

}
